* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f6f6f6;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
}

header {
  background-color: #b48eb6;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.note {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  transition: transform 0.3s ease-in-out;
}

.note:hover {
  transform: translateY(-5px);
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease-in-out;
}

.note button:hover {
  transform: rotate(45deg);
}

form {
  /* height: 170px; */
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  transition: transform 0.3s ease-in-out;
}

form:hover {
  transform: translateY(-5px);
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 10px;
}

form textarea {
  height: 50px;
}

form button.add-button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background-color: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease-in-out;
}

form button.add-button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form button.add-button::before {
  content: "+";
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form button.add-button:hover {
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.note button.delete-button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease-in-out;
}

.note button.delete-button::before {
  content: "x";
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.note button.delete-button:hover {
  transform: translateX(-10px);
  transition: transform 0.2s ease-in-out;
}
